$pad: 30px;
.header-menu > div {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.4em;
  font-family: "Circe", serif;
  font-weight: bold;
  white-space: nowrap;
  height: 70px;
  padding-top: $pad + 10px;
  img {
    margin-top: -$pad;
  }
  .dashed {
    display: inline-block;
    border-bottom: dashed black 2px;
  }
}