div.header-menu
    div.menu-icon.left-align ≡
    div
        div.dashed Заказать вебинар
    div
        img(src='img/duck_mid.svg')
    div
        div.dashed Контактная информация
    div.righ-align иконки

