//
   Created by З on 07.10.2015.
//
   Created by З on 04.10.2015.
html
   head
      meta(charset='utf8')
      title samokat
      link(href='styles/main.css', rel='stylesheet')
   body
      include _contact_info.jade
      include _header_menu
