//
   Created by З on 04.10.2015.

html
    head
        meta(charset='utf8')
        title samokat
        link(href='styles/main.css', rel='stylesheet')
    body
        div.container
            div.contact-info
                div.wrap
                    div.number #{header.number}
                    div.email #{header.email}
                    div.skype
                        img(src="img/skype.png")
                        div #{header.skype}
                        div.clear
                div.vertical-right контактная информация
            span.menu-icon ≡
