//
   Created by З on 04.10.2015.

html
    head
        meta(charset='utf8')
        title hellofd
        link(href='main.css', rel='stylesheet')
    body
        div.container
            div.contact-info
                div.wrap
                    div.number +7 (8442) 48-36-51
                    div.email samokat_info@gmail.com
                    div.skype
                        img(src="img/skype.png")
                        div samokat_travel
                        div.clear
                div.vertical-right контактная информация
            span.menu-icon ≡
