div.articles
    h3.articles_title.titleh3 СТАТЬИ
    ul.articles-list
        each val in articles.items
            li.articles-list__item
                div.date= val.date
                a.title(href="#")= val.title
                p.text= val.text
    a.link.link_type2
        span.articles__link_dashed.link_dashed.link_whitecontent Все статьи
