address.contact-info
    div.contact-info__number= contact_info.number
    div.contact-info__email= contact_info.email
    div.contact-info__skype= contact_info.skype
    div.contact-info__vertical-right контактная информация
    label.contact-info__exit-btn(for="open_contacts")
        img

