body
    div.container
        div.contact-info
            div.wrap
                div.number #{contact_info.number}
                div.email #{contact_info.email}
                div.skype
                    div.skype-image
                    div #{contact_info.skype}
                div.clear
            label(for="open_contacts").vertical-right контактная информация

