footer.site-footer
   address
      div.float-left
         span.yellow= footer.copyright
         = footer.phone
      div.abs-center
         |Политика конфиденциальности
         span(style="margin: 0 10px").yellow |
         |Условия использования
      div.float-right Дизайн и создание сайта