div.header
    div &nbsp;
    div.dashed Заказать вебинар
    div.main-logo
        div.duck_mid
    label(for="open_contacts")
        div.dashed Контактная информация
div.clear
include _left_menu
div.soc-icons
    div.icon
        div.facebook_icon
    div.icon
        div.vk_icon
    div.icon
        div.gplus_icon
div.clear
div.empty-space