div.header
    div &nbsp;
    div.lbl-get-webinar.dashed Заказать вебинар
    div.main-logo
        div.duck_mid
    div
        label.lbl-contact-info(for="open_contacts")
            div.dashed Контактная информация
div.clear
include _left_menu
div.empty-space