include _left_menu
div.header-menu
    div
    div
        div.dashed Заказать вебинар
    div
        div.main-logo
            div.duck_mid
    div
        div.dashed Контактная информация
    div(style="text-align: right;")
        div.icons
            div
                div.facebook_icon
            div
                div.vk_icon
            div
                div.gplus_icon

