div.header-menu
    div.menu-icon(style="text-align: left;")
        div
            input(type="checkbox",id="testcheck", style="display:none")
            label.menu-click(for='testcheck', style="display:block;")
                include ../img/toBase64/menu_icon_plain_svg.txt
            div.menu-click(style="display:none;-webkit-transform: rotate(0deg);")
                include _left_menu
    div
        div.dashed Заказать вебинар
    div
        div.main-logo
            div.duck_mid
    div
        div.dashed Контактная информация
    div(style="text-align: right;")
        div.icons
            div
                div.facebook_icon
            div
                div.vk_icon
            div
                div.gplus_icon


