div.header
    div
    div.header__get-webinar.header__link
        a.link_dashed Заказать вебинар
    div.header__main-logo
    div.header__contact-info.header__link
        label(for="open_contacts")
            a.link_dashed Контактная информация
    div
include _left_menu
div.empty-space