div.left-menu
   each val in left_menu.items
      div.item
         div
            div(class= val.class)
         div= val.name
         div.clear
   div.get-webinar
      div Заказать вебинар
      div.clear




