div.left-menu
    input(type="checkbox",id="testcheck", style="display:none")
    input(type="checkbox",id="open_contacts", style="display:none")
    label.menu-icon(for='testcheck', style="display:block;")
        include ../img/toBase64/menu_icon_plain_svg.txt
    nav.menu(style="display:none;-webkit-transform: rotate(0deg);")
        each val in left_menu.items
            div.item
                div
                    div(class= val.class)
                div= val.name
                div.clear
        div.get-webinar
            div Заказать вебинар
    div.contact-info(style="display:none")
        include _contact_info


