div.presentation
    div.presentation__maps
        img(src="img/barselona.png")
        img(src="img/new_york.png")
        img(src="img/tokio.png")
    h3.presentation_title.titleh3 ПУТЕШЕСТВИЕ НАЧИНАЕТСЯ С МЕЧТЫ
    p.presentation__description.p
        |Становись членом нашей команды и мы научим тебя как можно свободно,
        | безопасно и легко путешествовать в любой уголок нашей планеты!
        | С нашей помощью вы научитесь самостоятельно бронировать билеты и гостиничные номера в любой точке мира;
        | сможете с легкостью получить необходимую информацию по климату и достопримечательностям.
        | С нашей помощью вы научитесь самостоятельно бронировать
    a.presentation__btn-download.link_type1.link СКАЧАТЬ ПРЕЗЕНТАЦИЮ


