div.webinars
    h3.webinars__title.titleh3 КАЛЕНДАРЬ ВЕБИНАРОВ
    div.webinars__description Узнайте о вебинарах, проходящих в ближайшее время
    ul.calendar
        each val in webinars.items
            li.calendar__item
                div.date= val.date
                div.month= val.month
                div.text= val.text
