html
   head
      meta(charset='utf8')
      title samokat
      link(href='styles/main.css', rel='stylesheet')
   body
      include _header
      include _presentation
      include _book_download
      include _webinars
      include _articles
      include _guids
      include _excursions
      include _footer
