@import "../../bower_components/Scut/dist/_scut.scss";
.articles{
  text-align: center;
  background-color: $blue;
}
.articles_title{
  color:white;
  padding: 80px;
}
.articles-list{
  list-style: none;
  padding: 0;
  margin: 0;
  input{
    display: none;
  }
}
.articles-list__item{
  .date{
    font-size: 20px;
  }
  .title{
    display: inline-block;
    font-size: 43px;
    max-width: 1000px;
    margin: auto;
    color: black;
  }
  .text{
    max-width: 560px;
    margin: auto;
    min-width: 200px;
    padding: 50px;
  }
  .text:after{
    content: "";
    border: solid 1px white;
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 50px;
  }
}
.articles-list__item:last-child{
  .text:after{
    display: none;
  }
}

.articles-list__left-arrow{
  display: none;
  position: absolute;
  left: 0;
  img{
    content: url('../img/left-arrow.svg');
  }
}
.articles-list__right-arrow{
  display: none;
  position: absolute;
  right: 0;
  img{
    content: url('../img/right-arrow.svg');
  }
}
@mixin carousel($i){
  $id: 'inp' + $i;
  ##{$id}:checked ~ .articles-list__item-#{$i} {
      display: block !important;
    }
}
@each $var in (0, 1, 2){
  @include carousel($var);
}
@media all and (max-width: 980px) {
  .articles-list__item{
    display: none;
  }
  .articles-list__left-arrow, .articles-list__right-arrow{
    display: block;
  }
}