@import "../../bower_components/Scut/dist/_scut.scss";
.articles{
  text-align: center;
  background-color: $blue;
}
.articles_title{
  color:white;
  padding: 80px;
}
.articles-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.articles-list__item{
  .date{
    font-size: 20px;
  }
  .title{
    display: inline-block;
    font-size: 43px;
    max-width: 1000px;
    margin: auto;
    color: black;
  }
  .text{
    max-width: 560px;
    margin: auto;
    min-width: 200px;
    padding: 50px;
  }
  .text:after{
    content: "";
    border: solid 1px white;
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 50px;
  }
}
.articles-list__item:last-child{
  .text:after{
    display: none;
  }
}
