.book-download{
  text-align: center;
  background-color: $yellow;
}
.book-download__text{
  max-width: 1165px;
  font-size: 36px;
  margin: auto;
  display: block;
  padding-top: 70px;
  padding-bottom: 50px;
}
.book-download__btn{
  margin-bottom: 50px;
}