$yellow: #FFCD32;
$dark-grey: #353534;
$blue: #95B6DD;

.float-right{
  float: right;
}
.float-left{
  float: left;
}
.yellow{
  color: $yellow;
}
.clear {
  clear: both !important;
  float: none !important;
}
.abs-center{
  text-align: center;
  position: absolute;
  width: 100%;
}