$yellow: #FFCD32;
$dark-grey: #353534;
$blue: #95B6DD;

.float-right{
  float: right;
}
.float-left{
  float: left;
}
.yellow{
  color: $yellow;
}
.clear {
  clear: both !important;
  float: none !important;
}
.abs-center{
  text-align: center;
  position: absolute;
  width: 100%;
}

.link_dashed {
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}
.link_whitecontent{
  border-bottom-color: white;
  color: white;
}
.link_type1 {
  border: solid 2px $dark-grey;
}
.link_type2{
  background-color: $dark-grey;
}
.link {
  padding: 17px 73px;
  display:inline-block;
  @include letterspasing(400);
  font-family: "Circe Bold", serif;
}
.titleh3{
  margin: 0;
  font-size: 33px;
  font-family: "Circe Bold Extra", serif;
  @include letterspasing(400);
}
.p{

}