@import "compass-imagehelper";
$pad: 30px;

.header-menu {
  .main-logo {
    margin-top: -$pad;
    .duck_mid {
      @include base64img("duck_mid", true);
    }
  }
}
.header-menu > div {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.4em;
  font-family: "Circe", serif;
  font-weight: bold;
  white-space: nowrap;
  height: 70px;
  padding-top: $pad + 10px;
  .dashed {
    display: inline-block;
    border-bottom: dashed black 2px;
  }
  .icons div{
    float: right;
    margin-right: 10px;
    margin-top: - 5px;
    .facebook_icon{
      @include base64img("facebook_icon", true);
    }
    .vk_icon{
      @include base64img("vk_icon", true);
    }
    .gplus_icon{
      @include base64img("gplus_icon", true);
    }
  }
}