@import "compass-imagehelper";
$pad: 30px;
input:checked ~ .menu-click{
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 27px 15px;
  display: block !important;
line{
  stroke: yellow;
}
}
.header-menu {
  .menu-icon {
    font-weight: bolder;
    font-size: 50px;
    line{
      transition: 1s;
    }
    label {
      transition: 1s;
      width: 55px;
      height: 30px;
    }
    div{
      margin-left: 10px;
    }
  }
  .main-logo {
    margin-top: -$pad;
    .duck_mid {
      @include base64img("duck_mid.svg");
    }
  }
}
.header-menu > div {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.4em;
  font-family: "Circe", serif;
  font-weight: bold;
  white-space: nowrap;
  height: 70px;
  padding-top: $pad + 10px;
  .dashed {
    display: inline-block;
    border-bottom: dashed black 2px;
  }
  .icons div{
    float: right;
    margin-right: 10px;
    margin-top: - 5px;
    .facebook_icon{
      @include base64img("facebook_icon.svg");
    }
    .vk_icon{
      @include base64img("vk_icon.svg");
    }
    .gplus_icon{
      @include base64img("gplus_icon.svg");
    }
  }
}