#testcheck:checked ~ .menu-icon {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 27px 15px;
  line {
    stroke: yellow;
  }
}

#testcheck:checked ~ .menu {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 27px 15px;
  display: block !important;
}

#open_contacts:checked ~ .contact-info {
  display: block !important;
}
.menu{
  width: 350px;
  background-color: white;
  .item{
    padding: 20px;
  }
}

.left-menu {
  @include scut-fixed(0 n n 0);
  width: 100%;
  height: 0;
  font-weight: bolder;
  line {
    transition: 1s;
  }
  label {
    transition: 1s;
    width: 55px;
    height: 30px;
    //height: 0;
  }
  font-size: 18px;
  letter-spacing: normal;
  .item{
    border: solid 1px gray;
    border-bottom: none;
  }
  .item > div {
    float: left;
    .left_menu_education {
      @include base64img("left_menu_education", true);
      margin-right: 20px;
    }
    .left_menu_webinar {
      @include base64img("left_menu_webinar", true);
      margin-right: 20px;
    }
    .left_menu_blogs {
      @include base64img("left_menu_blogs", true);
      margin-right: 20px;
    }
  }
  .get-webinar > div {
    background-color: $yellow;
    padding: 20px;
    border: solid 1px gray;

  }
}

@media screen and (max-width: 980px) {
  .left-menu {
    width: 300px;
  }
}
