@import "../../bower_components/Scut/dist/_scut.scss";
#chk_open_menu:checked ~ .menu-icon {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 27px 15px;
  line {
    stroke: yellow;
  }
}

#chk_open_menu:checked ~ .menu {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 27px 15px;
  visibility: visible !important;
}

#open_contacts:checked ~ .contact-info {
  visibility: visible !important;
}

@include device_less (980px){
  #chk_open_menu:checked ~ .contact-info {
    visibility: visible !important;
  }
  #chk_open_menu:checked ~ .soc-icons {
    visibility: visible !important;
  }
  .lbl-contact-info, .lbl-get-webinar{
    visibility: hidden;
  }
  .soc-icons {
    background-color: $dark-grey;
    visibility: hidden;
  }
}
@include device_greater(980px) {
  .soc-icons {
    @include scut-fixed(0 0 n n);
  }
}
.soc-icons {
  .icon {
    float: left;
    margin: 5px;
  }
  .facebook_icon {
    @include base64img("facebook_icon", true);
  }
  .vk_icon {
    @include base64img("vk_icon", true);
  }
  .gplus_icon {
    @include base64img("gplus_icon", true);
  }
}
$menu-width_procent: 30%;
$menu-min-width: 270px;
$menu-max-width: 350px;
$item-padding: 7%;
.menu{
  width: $menu-width_procent;
  min-width: $menu-min-width;
  max-width: $menu-max-width;
  background-color: white;
  .item{
    padding: $item-padding;
  }
}

.left-menu {
  font-size: 18px;
  font-family: "Circe", serif;
  @include scut-fixed(0 n n 0);
  width: 100%;
  height: 0;
  line {
    transition: 1s;
  }
  label.menu-icon {
    transition: 1s;
    width: 55px;
    height: 30px;
  }
  .item{
    border: solid 1px gray;
    border-bottom: none;
  }
  $marg: 20px;
  .item > div {
    float: left;
    .left_menu_education {
      @include base64img("left_menu_education", true);
      margin-right: $marg;
    }
    .left_menu_webinar {
      @include base64img("left_menu_webinar", true);
      margin-right: $marg;
    }
    .left_menu_blogs {
      @include base64img("left_menu_blogs", true);
      margin-right: $marg;
    }
  }
  .get-webinar > div {
    background-color: $yellow;
    padding: $item-padding;
    border: solid 1px gray;
  }
}


@include device_less (980px) {
  .contact-info, .soc-icons {
    width: $menu-width_procent;
    min-width: $menu-min-width;
    max-width: $menu-max-width;
  }
  .soc-icons{
    box-sizing: border-box;
    padding: 2%;
  }
  .icon svg {
    path, tspan {
      fill: white;
    }
    rect{
      stroke: $yellow;
    }
  }
}
