.presentation__maps
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: auto;
}
.presentation{
  text-align: center;
  padding-bottom: 100px;
}
.presentation__description{
  max-width: 780px;
  margin: auto;
  margin-bottom: 50px;
}

