.presentation {
  text-align: center;
  .description{
    max-width: 780px;
    margin: auto;
  }
  .download-presentation{
    width: 500px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
  }
}
