.webinars{
  text-align: center;
}
.webinars__title{
  margin-top: 75px;
  margin-bottom: 50px;
}
.webinars__description{
  font-family: "Circe Light", serif;
  font-size: 25px;
  @include letterspasing(15);
}
.webinars__spam{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px;
}
.webinars__spam:before{
    content: url("../img/mail.svg");
  }

.calendar{
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  max-width: 1150px;
  margin: auto;
}
.calendar__item{
  display: inline-block;
  vertical-align: top;
  .date{
    font-size: 190px;
    color: $yellow;
  }
  .month{
    font-size: 23px;
    color: $yellow;
  }
  .text
  {
    font-size: 23px;
    max-width: 270px;
    margin: auto;
  }
}
